* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --ubuntu-text: 'Ubuntu', sans-serif;
    --inter-text: 'Inter', sans-serif;
    --primary-ligth: #B01BE3;
    --primary-normal: #9907CC;
    --primary-dark: #72009A;
    --secundary-ligth: #040926;
    --secundary-dark: #000106;
}
.content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 668px;
    background: linear-gradient(180deg, #040926 -6.13%, rgba(151, 7, 204, 0.822) 124.8%);
}
.menu-top {
    display: flex;
    justify-content: space-between;
    margin: 22px auto 100px auto;
    align-items: center;
}
.menu-left {
    padding-right: 420px;
    position: relative;
}
.vector2 {
    position: absolute;
    top: 10px;
    left: 38px;
}
.vector3 {
    position: absolute;
    top: 10px;
    left: 81px;
}
.vector4 {
    position: absolute;
    top: 21px;
    left: 145px;
}
.menu-rigth {
    display: flex;
    width: 629px;
    height: 43px;
}
.menu-opcoes {
    margin-right: 35px;
}
li:hover {
    padding-bottom: 10px;
    border-bottom: 3px solid var(--primary-normal);
}
.menu-opcoes ul {
    display: flex;
    font-family: var(--inter-text);
    margin: 10px 4px 11px;
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
    list-style: none;
    color: white;
    gap: 31px;
    flex-grow: 0;
}
.languague {
    margin: 8px 24px auto auto;
    flex-grow: 0;
}
i {
    color: #FFF;
    font-size: 18px;
}
.fale-conosco {
    background-color: var(--primary-normal);
    padding: 10px 34px;
    border-radius: 38px;
    flex-grow: 0;
}
.fale-conosco a {
    font-family: var(--inter-text);
    font-weight: 400;
    line-height: 22px;
    font-size: 15px;
    color: #FFF;
    text-decoration: none;
}
/* LAYOUT */
.content-layout {
    display: flex;
    flex-wrap: wrap;
    margin: 12px 379px 20px 351px;
    justify-content: space-between;
    width: 1920px;
    height: 460px;
}
.left-side {
    width: 448px;
    justify-content: flex-start;
}
.title {
    width: 430px;
    height: 111px;
    font-family: var(--ubuntu-text);
    color: #FFF;
    font-size: 28px;
    font-weight: 700;
    line-height: 52px;
}
span {
    color: var(--primary-normal);
}
.subject {
    width: 384px;
    height: 179px;
    font-family: var(--inter-text);
    font-weight: 400;
    line-height: 27px;
    text-align: justify;
    color: #FFF;
}
.link-learnMore {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 34px;
    width: 145px;
    height: 42px;
    background-color: var(--primary-normal);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 38px;
}
.link-learnMore a {
    text-decoration: none;
    color: #FFF;
}
.link-learnMore a:hover {
    text-decoration: underline;
}
.rigth-side {
    display: flex;
    position: relative;
    width: 660px;
    height: 460px;
}
.box-line {
    position: absolute;
    left: 12px;
    top: 236px;
    z-index: 0;
}
.man-with-tablet {
    position: absolute;
    left: 15px;
    top: 18px;
    transform: translateY(-17%);
    z-index: 1;
}
.bar-percent {
    position:absolute;
    left: 11px;
    top: 42px;
    transform: translateX(-40%);
    z-index: 2;
}
.box-white {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    backdrop-filter: blur(12.5px);
    padding: 10px 15px 10px 12px;
}
.box-white p {
    display: inline;
    font-family: var(--inter-text);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFF;
    margin: 10px 18px 6px 13px;
}
.box-white img {
    display: block;
    margin: 10px 15px 5px 19px;
}
.icons-info i {
    padding: 14px 2px 10px 28px;
}
.other-bar-percent {
    position:absolute;
    left: 360px;
    top: 253px;
    z-index: 2;
}
.box-white2 {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 10px 15px 10px 12px;
    backdrop-filter: blur(12.5px);
}
.box-white2 img {
    display: block;
    margin: 10px 15px 5px 19px;
}
.box-white2 p {
    display: inline;
    font-family: var(--inter-text);
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFF;
    margin: 10px 18px 6px 13px;
}
/* MAIN */
.solutions-content {
    display: flex;
    position:relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 600px;
    background-color: var(--secundary-ligth);
}
.header-solutions {
    margin: 50px auto 90px auto;
    text-align: center;
}
.solucao {
    font-family: var(--inter-text);
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--primary-normal);
}
.sub-title-solutions {
    width: 448px;
    margin-top: 13px;
    font-family: var(--ubuntu-text);
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    color: #FFF;
}
.box-container {
    display: flex;
    width: 1169px;
    height: 462px;
}
.search {
    width: 320px;
    position: relative;
    margin-right: 70px;
}
.img-lamp img {
    display: flex;
    margin: auto;
}
.lamp-vector {
    position: absolute;
    left: 147px;
    top: 25px;
}
.sub-title-search {
    font-family: var(--inter-text);
    font-weight: 400;
    line-height: 27px;
    padding: 5px 2px;
    margin-top: 18px;
    text-align: center;
    color: #FFF;
}
.definicao {
    font-family: var(--inter-text);
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 14px;
    color: #FFF;
}
.link-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px 34px;
    width: 145px;
    height: 42px;
    background-color: var(--primary-normal);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 38px;
}
.link-cta a {
    text-decoration: none;
    color: #FFF;
}
.link-cta a:hover {
    text-decoration: underline;
}
.pc-vector {
    position: absolute;
    top: 34px;
    left: 141px;
}
.config-vector {
    position: absolute;
    top: 30px;
    left: 143px;
}
/* SECTION */

.about-us {
    display: flex;
    width: 100%;
    height: 494px;
    background: linear-gradient(180deg, #040926 -6.13%, rgba(151, 7, 204, 0.822) 124.8%);
}
.aboutUs-content {
    display: flex;
    margin: auto;
}
.leftSide-about {
    width: 449px;
    height: 229px;
    margin: 102px 175px 102px 32px;
}
.leftSide-about h2 {
    width: 207px;
    margin-bottom: 5px;
    font-family: var(--ubuntu-text);
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #FFF;
}
.leftSide-about p {
    color: #FFF;
    font-family: var(--inter-text);
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 25px;
}
.leftSide-about a {
    background: #FFF;
    padding: 11px 28px 10px 29px;
    border-radius: 25px;
    font-family: var(--inter-text);
    font-weight: 400;
    line-height: 19px;
    font-size: 15px;
    color: var(--primary-ligth);
    text-decoration: none;
}
.leftSide-about a:hover {
    text-decoration: underline;
}
.rigthSide-about {
    display: flex;
    position: relative;
    margin: 74px 24px 73px 32px;
}
.rigthSide-about img {
    position: absolute;
    top: 270px;
    left: 450px;
    width: 212px;
    height: 63px;
    z-index: 0;
}
iframe {
    border-radius: 8px;
    z-index: 1;
}

/* SECTION DEPOIMENTOS */

.depoimentos {
    background: var(--secundary-ligth);
    width: 100%;
    height: 525px;
    color: #FFF;
}
.content-dep {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 1107px;
    height: 425px;
}
.dep-header {
    text-align: center;
    margin: 26px 354px 57px;
}
.dep-header p {
    font-family: var(--inter-text);
    font-size: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--primary-normal);
    line-height: 20px;
}
.dep-header h2 {
    font-family: var(--ubuntu-text);
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}
.dep-right {
    display: flex;
    flex-wrap: wrap;
    width: 488px;
    height: 112px;
}
.dep-right p {
    margin-top: 7px;
    font-family: var(--inter-text);
    font-weight: 400;
    line-height: 29px;
}
.profile-dep {
    display: flex;
    gap: 10px;
    margin: 4px 0px 15px 0px;
}
.profile-dep img {
    align-self: center;
    width: 45px;
    height: 45px;
}
.nome-homem {
    font-family: var(--ubuntu-text);
    font-weight: 700;
    line-height: 24px;
    color: var(--primary-normal);
}
.cargo-homem {
    font-family: var(--inter-text);
    font-size: 15px;
    line-height: 20px;
    color: #FFF;
}
.dep-left {
    display: flex;
    flex-wrap: wrap;
    width: 488px;
    height: 112px;
}
.dep-left p {
    margin-top: 7px;
    font-family: var(--inter-text);
    font-weight: 400;
    line-height: 29px;
}