.btn-subscribe {
  text-transform: uppercase;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 3px;
  background-color: #c00;
  border: none;
  color: #FFF;
  transition:  opacity 0.15s;
  cursor: pointer;
  vertical-align: top;
  font-size: 17px;
}
.btn-subscribe:hover {
  opacity: 0.6;
}
.btn-subscribe:active {
  opacity: 0.4;
}
.btn-join {
  display: block;
  margin: 5px;
  padding: 10px 20px;
  text-transform: uppercase;
  border: 1px solid rgb(93, 93, 236);
  border-radius: 3px;
  color: rgb(0, 0, 204);
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15;
  font-size: 17px;
}
.btn-join:hover {
  background-color: rgb(93, 93, 236);
  color: #FFF;
}
.btn-join:active {
  opacity: 0.6;
}
.btn-tweet {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background-color: rgb(29, 155, 240);
  text-transform: capitalize;
  font-weight: bolder;
  color: #FFF;
  font-size: 17px;
  transition: box-shadow 0.15s;
  cursor: pointer;
}
.btn-tweet:hover {
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.15);
}
.btn-back, .btn-next {
  text-transform: capitalize;
  padding: 10px 8px;
  border-radius: 3px;
  border: 1px solid #999999;
  margin: 10px;
  cursor: pointer;
}
a {
  margin: 5px;
  cursor: pointer;
}
.stretch {
  background-color: rgb(15, 131, 15);
  padding: 10px 25px;
  width: 50px;
  color: #FFF;
  text-transform: capitalize;
  font-size: 21px;
  vertical-align: top;
  text-align: center;
  transition: padding-top 1s, padding-bottom 1s, padding-left 1s, padding-right 1s;
  cursor: pointer;
}
.stretch:hover {
  padding: 30px 90px;
}
.btn-shadow {
  display: block;
  padding: 10px 25px;
  background-color: green;
  color: #FFF;
  text-transform: capitalize;
  border: none;
  font-size: 19px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.btn-shadow:active {
  margin-top: 3px;
  margin-left: 3px;
  box-shadow: none;
}
.btn-one {
  background-color: green;
  color: #FFF;
  text-transform:  capitalize;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: padding-left 1s, padding-right 1s;
  font-size: 19px;
}
.btn-one:hover {
  padding: 10px 25px;
}
.btn-two {
  background-color: green;
  color: #FFF;
  text-transform:  capitalize;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: padding-left 1s, padding-right 1s;
  font-size: 19px;
}
.btn-two:hover {
  padding: 10px 28px;
}
.btn-three {
  background-color: green;
  color: #FFF;
  text-transform:  capitalize;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: padding-left 1s, padding-right 1s;
  font-size: 19px;
}
.btn-three:hover {
  padding: 10px 30px;
}