*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-light: #22202B;
    --primary-normal: #0A071B;
    --primary-dark: #07002D;
    --secundary-light: #DCDAE5;
    --secundary-normal: #5138EE;
    --secundary-dark: #3420B6;
    --font-title: 'Exo 2', sans-serif;
    --font-body: 'Inter', sans-serif;
}
/*Header*/
.menu-pesquisa {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.logo-empresa {
    display: flex;
    position: relative;
}
.sobre-img1 {
    position: absolute;
    top: 8px;
    left: 35px;
}
.sobre-img2{
    position: absolute;
    top: 8px;
    left: 78px;
}
.sobre-img3 {
    position: absolute;
    top: 11px;
    left: 142px;
}
.menu-navegacao ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
}
.menu-navegacao li a {
    font-family: 'Inter', sans-serif;
    line-height: 1.5em;
    color: #696C85;
    text-decoration: none;
}
.menu-search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.img-plus {
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--secundary-normal);
    max-width: 116px;
    border-radius: 24px;
}
.img-plus img {
    margin: 11px 5px 11px 21px;
}
.img-plus a {
    margin-right: 21px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #FFF;
}
/* PRIMEIRA SESSÃO - BANNER */

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    background: var(--primary-normal);
    border-radius: 10px;
    padding: 52px;
}
.informacao {
    max-width: 385px;
    color: #FFF;
}
span {
    color: var(--secundary-normal);
}
.informacao h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    line-height: 40px;
    max-width: 252px;
}
.informacao p {
    font-family: 'Inter', sans-serif;
    font-size: 0.825em;
    line-height: 1.5em;
    margin: 9px 0 20px;
}
.informacao a {
    font-family: 'Inter', sans-serif;
    color: #FFF;
    text-decoration: none;
    background: var(--secundary-normal);
    padding: 7px 35px;
    border-radius: 34px;
}
.foguete {
    position: absolute;
    left: 750px;
    top: -28px;
    z-index: 2;
}
.background-azul {
    position: absolute;
    left: 698px;
    top: 0px;
    z-index: 1;
}
.background-azul img {
    border-radius: 10px;
}

/* SECTION INFO */

.info {
    background: none;
}
.perfil {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    border: 1px solid #EBEBEB;
    border-radius: 8px;
    max-width: 384px;
    padding: 30px 45px;
}
.title {
    font-size: 1.375em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #0A071B;
    line-height: 40px;
    align-self: flex-start;
    margin-left: 8px;
}
.name {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125em;
    font-weight: 700;
    color: #0A071B;
}
.title-1 {
    font-family: 'Inter', sans-serif;
    font-size: 0.825em;
    color: #828282;
    text-align: center;
    line-height: 2.5em;
    margin-bottom: 20px;
}
.info-numeros {
    display: flex;
    max-width: 334px;
    text-align: center;
    border: 1px solid #EBEBEB;
    border-radius: 8px;
    list-style: none;
    padding: 3px 30px;
    gap: 19px;
}
.numeros {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.06em;
    font-weight: 700;
    color: #0A071B;
}
.numeros:hover {
    color: #5138EE;
}
.title-2 {
    font-family: 'Inter', sans-serif;
    font-size: 0.825em;
    line-height: 2.5em;
    color: #828282;
    text-align: center;
}
