*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-light: #22202B;
    --primary-normal: #0A071B;
    --primary-dark: #07002D;
    --secundary-light: #DCDAE5;
    --secundary-normal: #5138EE;
    --secundary-dark: #3420B6;
    --font-title: 'Exo 2', sans-serif;
    --font-body: 'Inter', sans-serif;
}
/*Header*/
.content-head {
    display: flex;
    width: 1218px;
    margin: 20px auto 33px auto;
    align-items: center;
    justify-content: center;
}
.logo {
    flex: 1;
}
.logo-boost {
    position: absolute;
    top: 33px;
    left: 388px;
}
.logo-boost2 {
    position: absolute;
    top: 33px;
    left: 431px;
}
.logo-boost3 {
    position: absolute;
    top: 44px;
    left: 495px;
}
.menu-top {
    flex: 3;
}
.menu-top ul {
    display: inline-flex;
    gap: 10px;
    font-family: var(--font-body);
    font-weight: 400;
    line-height: 24px;
    color: var(--primary-light);
    list-style: none;
}
.menu-top a {
    text-decoration: none;
    color: var(--primary-light);
}
.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 40px;
    font-size: 18px;
}
.link {
    position: relative;
    width: 116px;
    padding: 7px 7px 7px 19px;
    height: 40px;
    border-radius: 24px;
    background-color: var(--secundary-normal);
    color: #FFF;
    font-size: 24px;
}
.link a {
    position: absolute;
    top: 10px;
    left: 55px;
    font-family: var(--font-body);
    text-decoration: none;
    font-size: 16px;
    color: #FFF;
}
/*Layout*/
.content-layout {
    display: flex;
    width: 1216px;
    height: 331px;
    margin: 33px auto 35px auto;
    padding: 57px 115px 194px 115px;
    background-color: var(--primary-dark);
    border-radius: 10px;
}
.conteudo {
    position:relative;
    z-index: 1;
    color: #FFF;
}
.conteudo h1 {
    width: 252px;
    height: 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 9px;
}
.conteudo p {
    width: 384px;
    height: 79px;
    margin-bottom: 18px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
}
span {
    color: var(--secundary-normal);
}
.conteudo a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #FFF;
    border-radius: 34px;
    background-color: var(--secundary-normal);
    padding: 7px 35px;
}
.vector-blue {
    position: absolute;
    left: 1067px;
    top: 93px;
    z-index: 2;
}
.vector-blue img {
    border-radius: 10px;
}
.airplane {
    position: absolute;
    left: 1113px;
    top: 64px;
    z-index: 3;
}
/* Aside */
.perfil {
    display: flex;
    flex-direction: column;
    margin: 35px 1184px 97px 352px;
    width: 384px;
    height: 408px;
    border-radius: 8px;
    border: 1px solid #EBEBEB;
    text-align: center;
}
.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 40px;
    color: var(--primary-dark);
    margin: 24px 269px 5px 36px;
}
.retrato {
    align-self: center;
}
.retrato h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
}
.retrato p {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    color: #828282;
}
.numbers {
    width: 334px;
    height: 68px;
    align-self: center;
    border-radius: 6px;
    border: 1px solid #EBEBEB;
    display: inline-flex;
    justify-content: center;
}
.numbers p {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #828282;
}
.numbers h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.numbers h3:hover {
    color: var(--secundary-normal);
}
.posts, .favorite, .score {
    padding: 10px;
    align-self: center;
}
.posts:hover, .favorite:hover, .score:hover {
    border-radius: 3px;
    border-top: 3px solid var(--secundary-normal);
}