*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #344a72;
  font-family: 'Raleway', sans-serif;
}
.index-container {
  max-width: 300px;
  margin: 60px auto;
}
.form-box {
  border-radius: 2px;
  height: 507px;
  background-color: #FFF;
}
.form-group {
  margin: auto;
}
.form-title{
  text-align: center;
  padding: 20px;
}
.form-title h1 {
  margin-bottom: 10px;
}
.form-title p {
  font-size: 14px;
}
input {
  display: block;
  width: 240px;
  height: 26px;
  margin: 4px auto 11px;
  border: 1px solid rgba(128, 128, 128, 0.336);
  outline: none;
}
button {
  width: 240px;
  height: 26px;
  margin: 10px 30px 15px 30px;
  color: #FFF;
  background-color: rgb(16, 202, 140);
  border: none;
  border-radius: 3px;
  outline: none;
}
label {
  margin-left: 30px;
  font-size: 14px;
}
.form-group .last-paragraph {
  margin: auto;
}
.last-paragraph {
  width: 260px;
  text-align: center;
  font-size: 11px;
  line-height: 22px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
footer {
  margin-top: 14px;
  color: #FFF;
  text-align: center;
  font-size: 13px;
}
footer a {
  color: rgb(16, 202, 140);
}