* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-ligth: #9298B6;
    --primary-normal: #393D51;
    --primary-dark: #202437;
    --secundary--ligth: #F2766F;
    --secundary--normal: #F1554C;
    --secundary--dark: #C13730;
}

body {
    background: #F4F5FC;
}
/* HEADER & NAVEGAÇÃO */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}
.img {
    display: flex;
    gap: 2px;
    align-items:center;
}
.item1{
    margin-right: 5px;
}
.item2 {
    height: 30px;
}
.navegacao{
    display: flex;
    align-items: center;
}
.navegacao ul {
    display: flex;
    list-style: none;
    gap: 15px;
}
.navegacao li {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--primary-normal);
}
.navegacao a {
    border-radius: 7px;
    padding: 10px 35px;
    color: #FFF;
    text-decoration: none;
    background: var(--secundary--normal);
}
.navegacao ul + a {
    margin-left: 15px;
}

/* CONTEUDO */

.conteudo{
    padding: 60px;
}
.sub-title{
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-size: 1.06em;
    line-height: 3em;
    letter-spacing: 3px;
}
.title{
    color: var(--primary-normal);
    width: 376px;
    font-family: 'Exo 2', sans-serif;
    font-size: 2.6em;
    font-weight: 700;
    line-height: 1.5em;
}
span {
    color: var(--secundary--normal);
}
.paragraph {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    width: 375px;
    line-height: 1.5em;
    padding: 10px 0px;
}
.links {
    display: flex;
    gap: 15px;
    align-items: center;
}
.play {
    font-family: 'Inter', sans-serif;
    font-size: 0.825em;
    text-decoration: none;
    color: var(--primary-normal);
}
.learn-more{
    border-radius: 7px;
    padding: 10px 35px;
    color: #FFF;
    text-decoration: none;
    background: var(--secundary--normal);
}
.icon{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--primary-dark);
}
.icon img{
    margin: 11px 12px 12px 13px;
}